.pic
{
margin-left:141px;
margin-top:40px;
}

.text h1 {
    font-size: 40px;
    margin-left: 233px;
	color:blue;
	}

.para
{
margin-left:100px;
}

.found
{
margin-left:100px;
}

.para
{
    font-size: 20px;
    margin-left: 233px;
}

.text1
{ 
    font-size:60px; 
	margin:90px;
	text-decoration:right;
}

.text2
{ 
    font-size:60px; 
	margin:90px;
	text-decoration:right;
}

.text3
{ 
    font-size:60px; 
	margin:90px;
	text-decoration:right;
}
.text4
{ 
    font-size:60px; 
	margin:90px;
	text-decoration:right;
}

.text5
{ 
    font-size:60px; 
	margin:90px;
	text-decoration:right;
}


.sci_name
{

    color:orange;
    font-size: 40px;
    margin-left: 233px;
}

.found
{
margin-left:100px;
}